<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true">

    <!-- Tell PHPUnit where our tests live -->
    <testsuites>
        <testsuite name="local_evento">
            <!-- look in current directory (.) for all * _test.php files -->
            <directory suffix="_test.php">.</directory>
        </testsuite>
    </testsuites>

    <!-- VCR listener (already there) -->
    <listeners>
        <listener class="VCR\PHPUnit\TestListener\VCRTestListener"
                  file="../vendor/php-vcr/phpunit-testlistener-vcr/src/VCRTestListener.php"/>
    </listeners>
</phpunit>
